# Theory Questions

1. What are data structures, and why are they important?
   - Data structures can be considered organized formats for storing data in different ways, they can be said to be containers that hold the data and determine how to interact with it.
   - Using the right data structure will make the program and data more efficient in organising, storing, and accessing collections of information, Simplify data manipulation, Optimize searching and sorting operations, and Conserve memory usage.

2.  Explain the difference between mutable and immutable data types with examples.
    - Mutable data types can be modified after they are created. When the mutable data type is changed it modifies the original object.
    - Example : list, set, dictionary.
    - Immutable data types cannot be modified after they are created. when the immutable  data type is changed it does not modify the original object instead it creates a new object.
    - Example : tuple, string, integer, frozen set.

3. What are the main differences between lists and tuples in Python?
  - Lists are created using "[ ]" brackets.
  - Lists are mutable data type, which means it can be modified once they are created.
  - When list is modified its original object itself will be modified.
  - Lists are slower than tuple for iteration and access becuse of their mutable characterstics
  - Lists use more memory than tuples.
  - Tuples are created using "( )" brackets
  - Tuples are immutable data type, which mean they cannot be modified once they are created.
  - When tuple is modified, a new object is created instead.
  - Tuple are faster than list for iteration and access becuse of thier immutable characterstics
  - Tuple use less memory than list.

4. Describe how dictionaries store data.
   - Dictionaries store data in key, value pairs in which key acts as a unique identifier for retrieving an associated value.
   - Dictionaries stores data in this format : dict(key: value,key1: value1)
   -  Keys and values can be of many different data types
   - Dictionary stores data in a unordered collection manner ehich means, they are not in any specif order.
   - There are many operation used to acces, store, manipulate dictionaries.

5. Why might you use a set instead of a list in Python?
   - When you need to have no duplicate values
   - When you want to use set operations on values such as, union, difference, symmetric, intersection.
   - If you want to check membership of the value fast, in set because of hashtable implimentation checking the membership of a value is faster than list.
   - Adding and removing the values is much faster in set due to hashtable implimentation.

6. What is a string in Python, and how is it different from a list?
   - String is a sequence of characters. it is immutable means it cannot be changed after creation.
   - String can be said as a collection of characters which can be accesed with indexing.
   - String and list are both a collection of elements but they have different characterstics, cases, term of types, behavior, etc.
   - String is specially a collection of character(text), whereas lis can store any type of data.
   - String is immutable, whereas list are mutable.

7. How do tuples ensure data integrity in Python?
   - Tuples are immutable and this immutability nature is the key feature of tuple to ensure the data integrity.
   - Since the tuple is immutable than mean once its created it cannot be changed.
   - This immutablity nature prevents accidental data midification or ensure the data integrity.

8. What is a hash table, and how does it relate to dictionaries in Python?
   - Hash table is a data structure that allows for efficient data key-value pair storage , lookups, insertion and deletion,
   - Dictionaries in python are built on hash table struction which allows the dictionaries for fas access and manipulation of data.

9. Can lists contain different data types in Python?
   - Yes, list can contain different data types in python.
   - Such as strings, numbers, other lists, objects, etc.

10. Explain why strings are immutable in Python.
    - Since string cannot be changed or modified once it is created they are immutable
    - Strings immutabilty comes with lots of advantages such as simplicity, consistancy, efficient memory management.

11. What advantages do dictionaries offer over lists for certain tasks?
    - There are many advantages the dictionaries offer over list for certain tasks cause of its structure.
    - Dictionaries provides faster lookup than lists with a time complexity of O(1), whereas lists are slow to find a element by a value giving complexity of O(n)
    - Dictionaries store data in paise of key and value, making it ideal for tasks which need to be in pais like name, age, id etc.
    - Keys in dictionaries are unique preventing duplication
    - Dictionaries excel when you need to quickly search, update, and organize data with specific identifiers (keys), while lists are better for maintaining an ordered collection of elements.

12. Describe a scenario where using a tuple would be preferable over a list.
    - Tuples are immutable whereas lists are mutable, means their values cannot be altered once they are create.
    - This helps in task that needs to have fixed value such as coordinates of a location, etc.
    - Becuase of immutubility tuple are more efficient in operations like iteration and memory usage.

13. How do sets handle duplicate values in Python?
    - Sets handles duplicate values by deleting them. Set automatically deletes any value that is duplecate.
    - Set is a collection of unique items, which means it doesn't allow duplicate items.
    - If we add a duplicate value in set it simply avoids it and not include it.

14. How does the “in” keyword work differently for lists and dictionaries?
    - The "in" keyword used on list checks if the value is in the list.meaning it will scan through each value and in list and check if it exists.
    -  This process takes O(n) time complexity.
    - The "in" keywords in used on dictionaries checks the keys in dictionary not the value.
    - This process takes O(1) time coplexity because dictionaries are based on hashtable.

15. Can you modify the elements of a tuple? Explain why or why not.
    - No, we cannot modify element of a tuple once the tuple is already created.
    - This is becuase of the immutable nature of tuple making it unable to alter once the tuple is created.

16. What is a nested dictionary, and give an example of its use case?
    - A nested dictionary is a dictionary where one or more of the values are dictionaries itself. This allows to store more complex data structures and create hierarchical relationships within data.

17. Describe the time complexity of accessing elements in a dictionary.
    - The time complexity of accessing element in dictionary is O(1).
    - Dictionary lookups are constatnt time operation, since dictionaring are implemented on hashtable.

18. In what situations are lists preferred over dictionaries?
    - Lists are preferred over dictionaries in situations where we need an ordered collection of items and the focus is on sequential access rather than mapping unique keys to values.
    - Situations where are lists preferred over dictionaries are:
    - Where order of the collection of elements are more necessary.
    - Where we need a simple colection of items
    - Where we need to store duplicate calues.
    - Where we need to use indexed acess to the values.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
    - Dictionaries are considered unordered because the elements in a dictionary are not stored in a specific order. This unordered nature is a result of how dictionaries are implemented using hash tables, which optimize the process of retrieving data quickly by associating keys with hash values, but without any order of the elements.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
    - A list retrieves data by index and maintains an ordered sequence, while a dictionary retrieves data by key using a hash table for fast, constant-time lookups.

#Practical Questions

In [ ]:
# 1. Write a code to create a string with your name and print it
name = input("Enter your name: ")
print(name)

Enter your name: zaid
zaid

In [ ]:
#2. Write a code to find the length of the string "Hello World".
str1 = "Hello World"
print(len(str1))

11

In [ ]:
#3. Write a code to slice the first 3 characters from the string "Python Programming".
str2 = "Python Programming"
slice_str = str2[:3]
print(slice_str)

Pyt

In [ ]:
#4. Write a code to convert the string "hello" to uppercase.
str3 = "hello"
uppercase_str = str3.upper()
print(uppercase_str)

HELLO

In [ ]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
str4 = "I like apple"
str5 = str4.replace("apple","orange")
print(str5)

I like orange

In [ ]:
#6. Write a code to create a list with numbers 1 to 5 and print it.
numbers = [1, 2, 3, 4, 5]
print(numbers)

In [ ]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4].
num = [1, 2, 3, 4]
num.append(5)
print(num)

[1, 2, 3, 4, 5]

In [ ]:
#8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
num1 = [1, 2, 3, 4, 5]
num1.remove(3)
print(num1)

[1, 2, 4, 5]

In [ ]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
l1 = ['a', 'b', 'c', 'd']
x = l1[1]
print(x)

b

In [ ]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].
l2 = [10, 20, 30, 40, 50]
l2.reverse()
print(l2)

[50, 40, 30, 20, 10]

In [ ]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
tupl = (100,200,300)
print(tupl)

(100, 200, 300)

In [ ]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tupl1 = ('red', 'green', 'blue', 'yellow')
x = tupl1[-2]
print(x)

blue

In [ ]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tupl2 = (10, 20, 5, 15)
min_num = min(tupl2)
print(min_num)

5

In [ ]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tupl3 = ('dog', 'cat', 'rabbit')
index_cat = tupl3.index('cat')
print(index_cat)

1

In [ ]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
tupl4 = ("apple", "kiwi", "mango")
if "kiwi" in tupl4:
  print("Its in tuple")
else:
  print("Not in tuple")

Its in tuple

In [ ]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
s = {'a', 'b', 'c'}
print(s)

{'a', 'b', 'c'}

In [ ]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set1 = {1, 2, 3, 4, 5}
set1.clear()
print(set1)

set()

In [ ]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
set2 = {1, 2, 3, 4}
set2.remove(4)
print(set2)

{1, 2, 3}

In [ ]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set3 = {1, 2, 3}
set4 = {3, 4, 5}
print(set3.union(set4))# or
print(set3 | set4)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [ ]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set5 = {1, 2, 3}
set6 = {2, 3, 4}
print(set5.intersection(set6))# or
print(set5 & set6)

{2, 3}
{2, 3}

In [ ]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
person = {"name": "Zaid", "age": 20, "city": "Pune"
}
print(person)

{'name': 'Zaid', 'age': 20, 'city': 'Pune'}

In [ ]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dict1 = {'name': 'John', 'age': 25}
dict1["country"]="USA"
print(dict1)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dict2 = {'name': 'Alice', 'age': 30}
x = dict2["name"]
print(x)

Alice

In [ ]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dict3 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del dict3['age']
print(dict3)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dict4 = {'name': 'Alice', 'city': 'Paris'}
if "city" in dict4:
  print("There is 'city' in dict4")
else:
  print("There isn't 'city' in dict4")

There is 'city' in dict4

In [ ]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.
lst = [1,2,3]
tupl = (1,2,3)
dct = {"key":"value"}
print(lst)
print(tupl)
print(dct)

[1, 2, 3]
(1, 2, 3)
{'key': 'value'}

In [ ]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
lst1 = [5,37,67,21,68]
lst1.sort()
print(lst1)

[5, 21, 37, 67, 68]

In [ ]:
#28. Write a code to create a list with strings and print the element at the third index.
lst2 = ["hello", "I", "am", "zaid"]
print(lst2[3])

zaid

In [ ]:
#29. Write a code to combine two dictionaries into one and print the result.
dct1 = {'name': 'Zaid', 'age': 20}
dct2 = {'city': 'Pune', 'country': 'India'}
combined_dict = {**dct1 , **dct2}
print(combined_dict)

{'name': 'Zaid', 'age': 20, 'city': 'Pune', 'country': 'India'}

In [ ]:
#30. Write a code to convert a list of strings into a set.
lst3 = ["hello", "I", "am", "zaid"]
set1 = set(lst3)
print(set1)

{'I', 'am', 'hello', 'zaid'}